@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    color: whitesmoke;
    text-decoration: none ;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.navbar ul li a:hover{
    padding: 0.7rem;
    background-color: tomato;
}
.logo{
    font-family: 'Lobster' , cursive ;
}
.text-color{
    color: tomato;
}
.header{
    background-image: url('pexels-stas-knop-1626481.jpg');
    height: 91vh;
    background-repeat: no-repeat;
    
}