@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    color: whitesmoke;
    text-decoration: none ;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}
.navbar ul li a:hover{
    padding: 0.7rem;
    background-color: tomato;
}
.logo{
    font-family: 'Lobster' , cursive ;
}
.text-color{
    color: tomato;
}
.header{
    background: url('4.jpg') no-repeat center center fixed;
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover ;
}
.header div{
    /* color: rgb(227, 217, 18); */
    color: tomato;
    /* background: rgba(232, 69, 9, 0.6); */
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.head-text1{
    font-size: 2.5rem;
    margin-bottom: 0.6 rem;

}
.head-text2{
    font-size: 1.5rem;
    margin-bottom: 0.9 rem;
}
.p-text1{
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
}
.btn{
    background-color: tomato;
    color: whitesmoke;
    padding: 0.6rem;
    border: none;
    width: 6rem;
}
#explore{
    display: flex;
    flex: 1;
}
.container{
    width: 100%;
    margin: 10px auto;
    /* width: 74rem; */
}
.instrument-h{
    text-align: center;
}
.instrument-p{
    font-size: 1rem;
    margin: 10px auto;
}
.instrument{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 1.4rem;
}
.instrument i{
    background-color: tomato;
    padding: 2rem;
    border-radius: 4rem;
}
#about{
    background: url(7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh;
    
}
/* #img-abt{
    background: url(7.png);
    height: 100%;
    background-size: cover;
    height: 40rem;
    width: 50rem;
} */
#about div{
    /* background: rgba(0, 0, 0, 0.4); */
    height: 100%;
}
.about-h1{
    font-size: 3rem;
    background-color: tomato;
    margin: 0 35rem 0 35rem;
    border-radius: 4rem;
    color: black;
    font-family: 'Roboto' , sans-serif;
    text-align: center;   
}
.about-h2{
    color: black;
    text-align: right;
    padding: 5rem 6rem 0 45rem;
    font-family: 'Roboto' ,sans-serif;
    font-size: 1.5rem;
}
.about-h3{
    color: black;
    text-align: right;
    padding: 1rem 6rem 1.5rem 45rem;
}
.about-p{
    color: black;
    text-align: right;
    padding: 1rem 6rem 0 55rem;
    font-family: 'Roboto' , sans-serif;
    font-size: 1rem;
}
.about-btn{
    margin: 1rem 6rem 0 0;
    float: right;
    padding: 0.5rem;
    background-color: tomato;
    color: rgb(0, 0, 0);
}
#img{
    background: url(5.png);
    height: 100%;
    background-size: cover;
    height: 40rem;
    width: 50rem;
}
.form{
    text-align: right;
    margin-left: 50rem;
    margin-top: 9.5rem;
}
input{
    height: 3.5rem;
    width: 30rem;
    border: 8px solid tomato;
    border-radius: .8rem;
    margin-bottom: 1.5rem;
    outline: none;
}
.f-h1{
    font-size: 3rem;
    color: black;
    background-color: tomato;
    padding-right: .7rem;
    margin-left: 34rem;
    border-radius: 4rem;
    font-family: 'Roboto' , sans-serif;
    text-align: right;   
}
label{
    font-size: 1rem;
    color: black;
    font-family: 'Roboto',  sans-serif;
}
.f-btn{
    background-color: tomato;
    padding: 0.7rem;
    margin-top: 1rem;
    width: 5.6rem;
    color: black;

}
footer{
    background-color: #2f2e41;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-family: 'Lobster', display;
    font-size: 1.1rem;
}
footer span{
    color: tomato;
}